---
import DropdownButton from "@atoms/DropDown/DropdownButton.astro";
import DropdownLevel from "@atoms/DropdownLevel/DropdownLevel.astro";

const pagePathname = Astro.url.pathname;

const menuItems = [
  {
    text: "Near Now!",
    url: "/",
  },
  {
    text: "Industrías",
    elements: [
      { text: "Aeroespacial", url: "/" },
      { text: "Automotriz", url: "/" },
      { text: "Electrodomésticos", url: "/" },
      { text: "Electrónica", url: "/" },
      { text: "Médico", url: "/" },
      { text: "Textil", url: "/" },
    ],
  },
  {
    text: "Energía",
    elements: [
      { text: "Eléctrica", url: "/" },
      { text: "Eólica", url: "/" },
      { text: "Solar", url: "/" },
    ],
  },
  {
    text: "Finanzas",
    url: "/",
  },
  {
    text: "Logística y Transporte",
    elements: [
      { text: "Aero", url: "/" },
      { text: "Marítimo", url: "/" },
      { text: "Terrestre", url: "/" },
    ],
  },
  {
    text: "Parques Industriales",
    elements: [
      { text: "construcción", url: "/" },
      { text: "Inmuebles", url: "/" },
      { text: "Manufactura", url: "/" },
    ],
  },
  {
    text: "Capital Humano",
    elements: [
      { text: "Capacitación", url: "/" },
      { text: "Certificación", url: "/" },
      { text: "Coaching", url: "/" },
      { text: "Leyes y reglamentos", url: "/" },
      { text: "Reglamentación", url: "/" },
    ],
  },
  {
    text: "ESG",
    elements: [
      { text: "Gobierno Corporativo", url: "/" },
      { text: "Inclusión", url: "/" },
      { text: "Sustentabilidad", url: "/" },
    ],
  },
];

// Separar los primeros tres elementos y el resto
const mainMenuItems = menuItems.slice(0, 4);
const moreMenuItems = menuItems.slice(4, menuItems.length);
---

<header
  id="headerw-full"
  class="hidden md:flex justify-center items-center w-full px-5"
>
  <div
    class="glassmorphism flex justify-between items-center w-full min-h-[7.3dvh] max-w-[1300px] px-7 py-2 rounded-[9px] sticky top-0"
  >
    <nav>
      <ul
        class="flex  flex-col w-full font-medium md:space-x-4 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0"
      >
        {
          pagePathname !== "/" && (
            <li class="header__item">
              <a
                class="header__link block font-sans text-white hover:text-[--guardsman-red-500] transition-colors"
                href="/"
              >
                Home
              </a>
            </li>
          )
        }
        {
          mainMenuItems.map((menuItem, index) => (
            <li >
              {menuItem.url ? (
                <a
                  href={menuItem.url}
                  class="header__link font-sans text-white hover:text-[--guardsman-red-500] transition-colors"
                >
                  {menuItem.text}
                </a>
              ) : (
                <DropdownButton
                  id={`dropdown-${index}`}
                  text={menuItem.text}
                  dropdown={menuItem.elements}
                  client:load
                />
              )}
            </li>
          ))
        }

        {
          moreMenuItems.length > 0 && (
            <li>
              <DropdownLevel
                id="dropdown-more"
                text="More"
                dropdown={moreMenuItems}
                client:load
              />
            </li>
          )
        }
      </ul>
    </nav>
    <form
      action={pagePathname === "/" ? "/search" : "/"}
      method="get"
      class="relative flex items-center "
    >
      <input
        type="search"
        id="search-navbar"
        required
        class="w-full h-[38px] text-[1rem] rounded-l-xl block p-2 ps-none border-white  bg-white text-black  focus:border-[--guardsman-red-700] focus:outline-none outline-1 border-0"
        placeholder="Buscar..."
      />
      <button
        type="submit"
        class="flex items-center justify-center text-white hover:text-[--guardsman-red-700] transition ease-in-out bg-[--neutral-variant-color] hover:bg-[--secundary-color] p-[7.5px] w-9 h-[38.3px] rounded-r-lg border"
      >
        <i class="fa-solid fa-magnifying-glass text-[14px]"></i>
        <span class="sr-only">Search icon</span>
      </button>
    </form>
  </div>
</header>

<style is:global>
  .header__link {
    position: relative;
  }
  .header__link::after {
    position: absolute;
    top: 25px;
    left: 0;
    content: "";
    width: 100%;
    transform: scale(0);
    transform-origin: 1;
    height: 2px;
    background: var(--guardsman-red-800);
    transition: 0.35s transform;
  }
  .header__link:hover::after {
    transform: scale(1);
  }
</style>
